.DS_Store
node_modules/*
!node_modules/vue-jalaali-datepicker
node_modules/vue-jalaali-datepicker/*
!node_modules/vue-jalaali-datepicker/vue-jalaali-datepicker-es6.vue
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
EditForm.zip
