html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.site-footer {
  background-color: #324057;
  height: 120px;
  margin-top: 30px;
  color: #ccc;
}

.site-header {
  background-color: #20A0FF;
  height: 80px;
  margin-bottom: 15px;
}

.site-header .banner {
  font-size: 48px;
  display: flex;
  align-items: center;
}

.site-header .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-header .menu:hover {
  cursor: pointer;
  color: #666;
}

.site-header .menu-active {
  font-weight: bold;
  border-bottom: 3px solid #ccc;
}

.table-form {
    width: 125px;
}
.el-input {
    max-width: 120px;
}

.el-col-12 {
    float: right !important;
}

.green {
    background-color: #057b05 !important;
    color: white !important;
}

.red {
    background-color: #d10505 !important;
    color: white !important;
}

.cov-datepicker {
    width: 100px;
}

.require:before {
    content: "*" !important;
    color: #ff4949;
    margin-right: 4px;
    float: right;
    padding-left: 5px;
}

.error {
    color: #ff4949;
}

.error-box input.el-input__inner{
    border-color: #ff4949 !important;
    border-width: medium;
}

.error-box textarea.el-textarea__inner {
    border-color: #ff4949 !important;
    border-width: medium;
}

.error-box div input{
    border-color: #ff4949 !important;
    border-width: medium !important;
}

input.el-input__inner{
    text-align: center;
}

.datepickbox input {
    padding: 4px !important;
    font-size: 13px !important;
    border: none !important;
    box-shadow: none !important;
    color: black !important;
}
