html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: yekanRegular;
}

@font-face {
    font-family: 'yekanRegular';
    src: 	url('./fonts/Yekan.eot?#') format('eot'),
		url('./fonts/Yekan.woff') format('woff'),
		url('./fonts/Yekan.ttf') format('truetype');
}

.table-form {
    width: 125px;
}

.table-form .el-textarea__inner {
    max-height: 36px;
}

.el-input {
    /* max-width: 120px; */
}

.el-col {
    float: right !important;
}

.green {
    background-color: #057b05 !important;
    color: white !important;
}

.red {
    background-color: #d10505 !important;
    color: white !important;
}

.cov-datepicker {
    width: 100px;
}

.error {
    color: #ff4949;
}

.error-box.el-input__inner {
    border-color: #ff4949 !important;
    border-width: medium;
}
.error-box input.el-input__inner{
    border-color: #ff4949 !important;
    border-width: medium;
}

.error-box textarea.el-textarea__inner {
    border-color: #ff4949 !important;
    border-width: medium;
}

.error-box div input{
    border-color: #ff4949 !important;
    border-width: medium !important;
}

.cov-date-caption{
    margin-top: -50px !important;
}

.error-box div.cov-vue-date.el-input__inner{
    border-color: #ff4949 !important;
    border-width: medium !important;
}

.error-box button{
    border-color: #ff4949 !important;
    border-width: medium !important;
}

.detail-col input.el-input__inner, .detail-col-2 input.el-input__inner{
    font-family: inherit;
    text-align: right;
    padding: 3px 3px 0px 0px !important;
}

.master-item .Number input.el-input__inner {
    text-align: left;
}

.master-item input.el-input__inner {
    padding: 0px 10px;
}
.datepickbox input {
    border: none !important;
}

.el-message-box {
    text-align: right !important;
}

.el-message-box__headerbtn {
    left: 20px;
}

.el-message-box__status {
    right: 15px;
}

.el-message-box__message {
    margin-right: 50px !important;
}

.el-message__img {
    left: initial !important;
    right: 0 !important;
}

.el-message__group p {
    margin: 0 34px !important;
}

.el-message__closeBtn {
    margin: 0px -35px;
    left: 0;
}

.el-message-box__btns {
    text-align: center !important;
}
.el-message-box__btns button.el-button {
    margin: 0px 11px;
}

.el-table {
    border-radius: 4px;
    display: inline-block !important;
    width: inherit !important;
}

td.radif {
    display: inline-block;
    min-width: 30px !important;
    max-width: 30px;
    line-height: inherit;
}

.radif div {
    padding-top: 8px;
}

.el-table td, .el-table th.is-leaf {
    text-align: center;
    word-wrap: break-word;
    padding: 0px;
    /* padding: 0px 2px 0px 2px; */
    border-bottom: none !important;
    line-height: 2;
}

.el-table th>div {
    text-align: -webkit-center;
    /* display: inline-block; */
    line-height: 22px !important;
    margin-top: -10px;
    padding: 0px 5px !important;
    overflow: -webkit-paged-x;
    white-space: pre-line !important;
}
.el-table td>div {
    text-align: -webkit-center;
    padding-bottom: 2px;
}


.el-table tr:hover td {
    background-color: #e3f3ff !important;
}

.el-table tr:hover td .el-input__inner {
    background-color: #e3f3ff !important;
}

.el-table tr:hover td .datepickbox input{
    background-color: #e3f3ff !important;
}

.el-table td input{
    font-size: 12px;
}

.table-form el-input__inner{
    height: 30px;
}

.Number .table-form, th.is-leaf.Number {
    min-width: 72px;
    max-width: 72px;
}

.Text .table-form, th.is-leaf.Text {
    min-width: 90px;
    max-width: 90px;
}

.Choice .table-form, th.is-leaf.Choice {
    min-width: 105px;
    max-width: 105px;
}

.Choice .table-form input{
    padding-left: 18px !important;
}

.MultiChoice .table-form, th.is-leaf.MultiChoice {
    min-width: 105px;
    max-width: 105px;
}

.MultiChoice .table-form input{
    padding-left: 18px !important;
}

.RelatedCustomLookupQuery .table-form,th.is-leaf.RelatedCustomLookupQuery {
    min-width: 105px;
    max-width: 105px;
}

.RelatedCustomLookupQuery .table-form input {
    padding-left: 18px !important;
}

.Lookup .table-form, th.is-leaf.Lookup {
    min-width: 105px;
    max-width: 105px;
}
.Lookup .table-form input {
    padding-left: 18px !important;
}

.LookupMulti .table-form, th.is-leaf.LookupMulti {
    min-width: 105px;
    max-width: 105px;
}
.LookupMulti .table-form input {
    padding-left: 18px !important;
}

.DateTime .table-form, th.is-leaf.DateTime {
    min-width: 100px;
    max-width: 100px;
}

.DateTime .table-form input{
    width: 80px;
    padding: 4px 0px !important;
    line-height: 17px;
}

.CustomComputedField .table-form, th.is-leaf.CustomComputedField {
    min-width: 70px;
    max-width: 70px;
}

.Note .table-form, th.is-leaf.Note {
    min-width: 105px;
    max-width: 105px;
}

.Boolean .table-form, th.is-leaf.Boolean {
    min-width: 50px;
    max-width: 50px;
}
.el-date-editor.el-input {
    width: auto !important;
}
.el-checkbox__input {
    vertical-align: text-bottom !important;
}

.el-table th {
    white-space: pre-line !important;
    font-size: 12px;
}

.el-table .el-form-item__content {
    text-align: -webkit-center;
}

.el-input__icon {
    width: 19px !important;
    right: inherit !important;
    left: 0;
}

.el-input--small .el-input__inner {
    height: 36px !important;
}

.el-table__header-wrapper {
    text-align: -webkit-center;
}

.el-form-item__content {
    text-align: right;
}

.el-row {
    margin: 0 !important;
}

.el-button {
    border-radius: 10px;
    font-family: inherit;
}

.cancel, .save {
    width: 94px;
    max-width: 94px;
}

.button {
    width: 45px;
    min-width: 45px !important;
    max-width: 45px;
}

.el-form-item:hover {
    /* background: rgba(245, 245, 220, 0.43); */
    transition: all 0.44s cubic-bezier(1, 0.53, 0, 0.68);
}

.el-form-item:hover .master .el-input__inner{
    transition: all 0.64s cubic-bezier(1, 0.53, 0, 0.68);
    -webkit-box-shadow: 0px 0px 49px 0px rgba(204,204,204,0.36);
    -moz-box-shadow: 0px 0px 49px 0px rgba(204,204,204,0.36);
    box-shadow: 0px 0px 49px 0px rgba(212, 212, 212, 0.36);
}

.el-message__group p {
    direction: rtl;
}

.table-header {
    position: relative;
}

.absolute-position {
    position: absolute;
    background: white;
    top: 0;
    z-index: 10;
}
.fixes-position {
    position: fixed;
    background: white;
    top: 0;
    z-index: 10;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.contractSpecs .el-form-item__content {
    width: 34.8%;
    line-height: 36px;
    border: 1px solid #d8dce5;
    float: left;
    margin-left: 11px;
    background: #ffffff;
    padding-right: 16px;
    padding-left: 21px;
    border-radius: 4px;
    margin-right: 164px;
}
.contractForm h3 {
    width: 96%;
    background: #fff1f1;
    padding: 31px;
    margin-bottom: 17px;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.2), 0 0 200px rgba(221, 80, 80, 0.8);
    box-shadow: 0 0 8px rgba(190, 190, 190, 0.2), 0 0 4px rgba(213, 213, 213, 1);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.el-form-item__label {
    float: right !important;
    padding: 11px;
    text-align: center;
}

.field-title {
    font-size: 16px;
    font-weight: 700;
    box-sizing: border-box;
    text-align: right;
    padding-right: 15%;
    display: inline-block;
    width: 30%;
    float: right;
    color: #48576a;
}

.master {
    font-size: 16px;
    height: 36px;
}

.master-item input.el-input__inner {
}

.master-item .el-input__icon {
}

.master-item {
    width: 77%;
    display: inline-block;
    font-size: 14px;
}

.master-title {
    word-wrap: break-word;
    width: 23%;
    float: right;
    text-align: center;
}

.detail-item {
    width: auto;
    display: inline-block;
    font-size: 14px;
}

.detail-title {
    word-wrap: break-word;
    width: 11.3%;
    float: right;
    text-align: center;
}

.master-field .el-form-item__content {
    /* border: solid 1px lightgray; */
    /* border-radius: 4px; */
    padding: 0px;
    text-align: right;
    font-weight: 700;
}
.master-field:hover .el-form-item__content {
    /* box-shadow: 0 0 8px rgba(190, 190, 190, 0.2), 0 0 4px rgba(213, 213, 213, 1); */
    transition: all 0.20s cubic-bezier(1, 0.53, 0, 0.68);
}
.el-form-item__content {
    /* text-align: center; */
}

.el-col-24.main-col .master-title {
    width: 11.3%;
}

.el-col-24.main-col .master-item {
    width: 87%;
}

.el-col.detail-col {
    /* border: solid 2px #f1f1f1; */
    border-radius: 4px;
    background: white;
    margin-bottom: 15px;
    /* width: 1900px; */
}

.detail-col-2.el-col.el-col-24 {
    width: min-content;
}
.el-select-dropdown{
}

.el-select-dropdown__list {
    direction: rtl;
}

h3.title {
    border-radius: 4px;
    background: #49b4ba;
    color: white;
    font-size: 24px;
    padding: 24px;
    margin-bottom: 17px;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.2), 0 0 200px rgba(221, 80, 80, 0.8);
    box-shadow: 0 0 8px rgba(190, 190, 190, 0.2), 0 0 4px rgba(213, 213, 213, 1);
    text-align: center;
    margin: 0 7%;
    margin-bottom: 20px;
}

/* datepicker css */

.cov-date-monthly {
    height: 71px;
}
.cov-date-monthly>div{ height: 71px;}
.cov-date-caption {
    padding: 0px 0 !important;
}

.week ul li {
    font-weight: 200;
    font-size: 12px;
    font-variant: normal;
    font-family: yekanRegular;
    color: #003e42 !important;
    padding: 5px 0px;
}

.datepicker-overlay{background: rgba(0, 0, 0, 0.13)!important;}
.cov-date-body {
    background-color: #49b4ba !important;
    font-size: 11px !important;
    font-weight: 100 !important;
    border-radius: 25px;
}

.date-item {
    color: #003e42;
}

.date-item:hover {
    background: ghostwhite;
    font-weight: bold;
    color: balck !important;
}

.checked {
    background-color: #49b4ba !important;
    font-weight: bold;
}

.cov-date-caption span {
    color: white;
}
.cov-date-caption span {
    font-size: 21px;
    color: white;
    position: absolute;
    margin-top: -5px;
    margin-right: -18px;
}
.week ul {
    margin: -10px -5px 2px !important;
    background: ghostwhite;
}
.day:hover {
    background: ghostwhite;
    border-radius: 4px;
    font-weight: bold;
}
.cov-date-caption span:nth-child(3){margin-top: 0px;margin-right: -31%;}
.cov-date-caption span:nth-child(1){font-size: 31px;margin-right: 10%;margin-top: 17px;position: absolute;}

.cov-date-next, .cov-date-next:hover {
    /* background: url('./next.png') no-repeat !important; */
    /* background-size: 24px 18px !important; */
    /* background-position-x: 22px !important; */
    /* background-position-y: 28px !important; */
}

.cov-date-previous, .cov-date-previous:hover{
    /* background: url('./previous.png') no-repeat !important; */
    /* background-size: 24px 18px !important; */
    /* background-position-x: 22px !important; */
    /* background-position-y: 28px !important; */
}


.cov-date-next:before, .cov-date-previous:before , .cov-date-next:after, .cov-date-previous:after  {
    /* display:none; */
    width: 19px !important;
    height: 3px !important;
    background-color: #e0e0e0!important;
}
.cov-datepicker {
    border-radius: 4px!important;
    border: 1px solid #d8dce5!important;
    height: 21px;
    width: 105px;
    padding: 0!important;
    text-align: center;
    box-shadow: none!important;
    margin-right: -14px;
}
.cov-picker-box {
    padding: 25px 15px !important;
    height: 245px !important;
}
/* tr.odd-row input.el-input__inner { */
/*     background: #f1f1f1; */
/* } */
/* tr.odd-row .cov-datepicker { */
/*     background: #f1f1f1; */
/* } */

/* .el-input.is-disabled .el-input__inner { */
/*     background-color: #ffffff; */
/* } */
/* tr.odd-row .el-input.is-disabled .el-input__inner { */
/*     background-color: #f1f1f1; */
/* } */

.el-table tr.odd-row td {
    background-color: #eef1f6d1;
}

.el-table tr.odd-row td .el-input__inner {
    background-color: #eef1f6d1;
}

.el-table tr.odd-row td .datepickbox input{
    background-color: #eef1f6d1;
}

.el-tooltip.item.master {
    width: 100%;
}

.master div.cov-vue-date.el-input__inner {
    width: 120px;
    overflow: hidden;
}

.master i.el-icon-date {
    margin: 11px 96px !important;
}

.master div.datepickbox {
    margin-top: 6px;
}

.detail-col form.el-form.master-field.el-form--label-top {
    width: min-content;
}

/* ///////////////////// */

.el-select .el-tag {
    /* height: 24px; */
    /* line-height: 24px; */
    /* box-sizing: border-box; */
    /* margin: 3px 0 3px 6px; */
    /* margin-right: 7px; */
}
span .el-select__tags-text {
    padding-right: 13px;
    margin-left: -21px;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected:after{display:none;}

input.is-undefined{display:none;}

.detail-col .el-select__tags span {
    width: 83px;
    text-align: right;
    display: block;
    margin-right: 2px;
}

.detail-col .el-tag .el-icon-close {
    top: -18px;
    right: -6px;
}

.detail-col-2 div.el-form-item__content {
    border-right: solid 2px #eef1f6;
    border-radius: 1px;
}

thead {
    /* border-spacing: 1px; */
}

.require .master-title:before {
    content: "*" !important;
    margin-right: -14px;
    margin-top: 2px;
    color: red;
    font-size: 20px;
    position: absolute;
}

.el-input__inner:hover {
    border-color: #49b4ba !important;
}
.el-select .el-input__inner:focus {
    border-color: #5d98d4 !important;
}
.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #5d98d4!important;
    border-color: #49b4ba !important;
}
.el-button--primary {
    background-color: #49b4ba !important;
    border-color: #49b4ba !important;
}
.el-button--primary.is-plain {
    background: #fff !important;
    border: 1px solid #bfcbd9 !important;
    color: #1f2d3d;
}
primary.is-plain:hover {
    background: #fff !Important;
    border-color: #20a0ff !important;
    color: #20a0ff !important;
}

.border {
    border: solid 2px #eef1f6;
    margin: 1% 7% 1%;
    border-radius: 4px;
    padding-top: 25px;
    padding: 2%;
}

.footer.el-row.is-justify-center.el-row--flex {
    padding-bottom: 40px;
    padding-top: 15px;
}

.detail-title {
    font-weight: 700;
}

.centeralize {
    text-align: center;
}

.header-span {
    display: block;
}

tbody > span {
    display: block;
}


.detail-item .el-table__header-wrapper {
    max-height: 10531px;
    display: block;
    /* overflow: scroll !important; */
}

.description {
    font-size: 12px;
    font-weight: 100;
    line-height: 28px;
}

.el-tooltip.item.el-tooltip.item.el-textarea.master.Note {
    height: auto;
}

.cov-date-previous, .cov-date-caption, .cov-date-next, .cov-date-monthly, .cov-date-monthly > div{
    max-height: 60px;
    padding: 0!important;
    font-weight: 400;
}

.button-box {
    display: none;
}

.detail-item i.el-icon-close{
    margin: 11px -47px !important;
    font-size: 7px !important;
}

i.el-icon-close:hover {
    cursor: pointer;
}

.el-time-panel__btn {
    width: auto;
    float: right;
}

/* histories */
.histories .el-table__footer-wrapper thead div, .histories .el-table__header-wrapper thead div, .histories th, .histories .el-table tr {
    background-color: #49b4ba !important;
}
/* histories */

/* end of global */

@import 'edit.css'
