html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: yekanRegular;
}

@font-face {
    font-family: 'yekanRegular';
    src: 	url('fonts/Yekan.eot?#') format('eot'),
		url('fonts/Yekan.woff') format('woff'),
		url('fonts/Yekan.ttf') format('truetype');
}

.table-form {
    width: 125px;
}

.el-textarea__inner {
    max-height: 36px;
}

.el-input {
    max-width: 120px;
}

.el-col-12 {
    float: right !important;
}

.green {
    background-color: #057b05 !important;
    color: white !important;
}

.red {
    background-color: #d10505 !important;
    color: white !important;
}

.cov-datepicker {
    width: 100px;
}

.require.field-title:before {
    content: "*" !important;
    color: #ff4949;
    margin-right: 4px;
    float: right;
    padding-left: 5px;
}

.error {
    color: #ff4949;
}

.error-box input.el-input__inner{
    border-color: #ff4949 !important;
    border-width: medium;
}

.error-box textarea.el-textarea__inner {
    border-color: #ff4949 !important;
    border-width: medium;
}

.error-box div input{
    border-color: #ff4949 !important;
    border-width: medium !important;
}

input.el-input__inner{
    text-align: center;
    padding: 3px 3px 0px 0px !important;
}

.datepickbox input {
    border: none !important;
}

.el-message-box {
    text-align: right !important;
}

.el-message-box__headerbtn {
    left: 20px;
}

.el-message-box__status {
    right: 15px;
}

.el-message-box__message {
    margin-right: 50px !important;
}

.el-message__img {
    left: initial !important;
    right: 0 !important;
}

.el-message__group p {
    margin: 0 34px !important;
}

.el-message__closeBtn {
    margin: 0px -35px;
    left: 0;
}

.el-message-box__btns {
    text-align: center !important;
}
.el-message-box__btns button.el-button {
    margin: 0px 11px;
}

.el-table {
    display: inline-block !important;
    width: inherit !important;
}

.el-table td, .el-table th.is-leaf {
    text-align: center;
}

.el-table td>div {
    text-align: -webkit-center;
    padding-bottom: 2px;
}


.el-table tr:hover td {
    background-color: #f8f9fb !important;
}

.el-table tr:hover td .el-input__inner {
    background-color: #f8f9fb !important;
}

.el-table tr:hover td input{
    background-color: #f8f9fb !important;
}

.el-table td input{
    font-size: 11px;
}

.table-form el-input__inner{
    height: 30px;
}

.Number .table-form, th.is-leaf.Number {
    width: 72px;
}

.Text .table-form, th.is-leaf.Text {
    width: 90px;
}

.Choice .table-form, th.is-leaf.Choice {
    width: 105px;
}

.Choice .table-form input{
    padding-left: 18px !important;
}

.RelatedCustomLookupQuery .table-form,th.is-leaf.RelatedCustomLookupQuery {
    width: 105px;
}

.RelatedCustomLookupQuery .table-form input {
    padding-left: 18px !important;
}

.Lookup .table-form, th.is-leaf.Lookup {
    width: 105px;
}
.Lookup .table-form input {
    padding-left: 18px !important;
}

.DateTime .table-form, th.is-leaf.DateTime {
    width: 100px;
}

.DateTime .table-form input{
    width: 80px;
    padding: 4px 0px;
    line-height: 17px;
}

.CustomComputedField .table-form, th.is-leaf.CustomComputedField {
    width: 70px;
}

.Note .table-form, th.is-leaf.Note {
    width: 105px;
}

.el-table th {
    white-space: pre-line !important;
    font-size: 12px;
}

.el-table .el-form-item__content {
    text-align: -webkit-center;
}

.el-input__icon {
    width: 19px !important;
    right: inherit !important;
    left: 0;
}

.el-input--small .el-input__inner {
    height: 36px !important;
}

.el-table__header-wrapper {
    text-align: -webkit-center;
}

.el-input__inner {
}

.el-form-item__content {
    /* line-height: 18px !important; */
    text-align: center;
}

.el-row {
    margin: 0 !important;
}

.el-button {
    border-radius: 10px;
}

.button {
    width: 45px;
}

.radif {
    width: 23px;
}

.el-form-item:hover {
    background: rgba(245, 245, 220, 0.43);
    transition: all 0.44s cubic-bezier(1, 0.53, 0, 0.68);
}

.el-form-item:hover .master .el-input__inner{
    transition: all 0.64s cubic-bezier(1, 0.53, 0, 0.68);
    -webkit-box-shadow: 0px 0px 49px 0px rgba(204,204,204,0.36);
    -moz-box-shadow: 0px 0px 49px 0px rgba(204,204,204,0.36);
    box-shadow: 0px 0px 49px 0px rgba(212, 212, 212, 0.36);
}

.el-message__group p {
    direction: rtl;
}

.fixes-position {
    position: fixed;
    background: white;
    top: 0;
    z-index: 10;
}

.el-table td, .el-table th.is-leaf {
    padding: 0px;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.contractSpecs .el-form-item__content {
    width: 34.8%;
    line-height: 36px;
    border: 1px solid #d8dce5;
    float: left;
    margin-left: 11px;
    background: #ffffff;
    padding-right: 16px;
    padding-left: 21px;
    border-radius: 4px;
    margin-right: 164px;
}
.contractForm h3 {
    width: 96%;
    background: #fff1f1;
    padding: 31px;
    margin-bottom: 17px;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.2), 0 0 200px rgba(221, 80, 80, 0.8);
    box-shadow: 0 0 8px rgba(190, 190, 190, 0.2), 0 0 4px rgba(213, 213, 213, 1);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.el-form-item__label {
    float: right !important;
    padding: 11px;
    text-align: center;
}

.field-title {
    box-sizing: border-box;
    text-align: right;
    padding-right: 15%;
    display: inline-block;
    width: 50%;
    float: right;
}

.master {
}

.master-item input.el-input__inner {
}

.master-item .el-input__icon {
}

.master-item {
}
.el-select-dropdown{
}

.el-select-dropdown__list {
    direction: rtl;
}
